<header class="navbar fixed top-[3%] right-0 left-72 bg-white py-4 px-6 flex items-center justify-between gap-4 z-40 pr-12">
    <h1 class="text-2xl font-bold text-gray-800">{{ nameInterface }}</h1>
    
    <div class="flex items-center gap-4">
        <button class="relative hover:bg-gray-100 p-2 rounded-full transition-colors">
            <i class='bx bx-bell text-2xl text-gray-600'></i>
        </button>

        <button class="hover:opacity-80 transition-opacity">
            <img src="assets/default_image.jpeg" alt="Perfil" class="w-9 h-9 rounded-full object-cover border-2 border-gray-300">
        </button>
    </div>
</header>